/* Big tablets to 1200px (width smaller than the 1140px row)*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
    .contact-form {
        width: 90%;
    }
    /* .blog-picture {
        height: 18vh;
    }
    .blog-card1,
    .blog-card2 {
        height: 45vh;
        width: 80%;
    }
    .blog-card1 {
        width: 50%; 
        margin-left: 20%;
    }
    .blog-card2 {
         width: 50%; 
        margin-right: 10%;
    }  */
}


/* Small tablets to big tablets: 768px to 1023*/

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    h1 {
        font-size: 165%;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .blog-card1 {
        margin-left: 20%;
    }
    .blog-card2 {
        margin-right: 10%;
    }
    .blog-card1,
    .blog-card2 {
        height: 65vh;
        width: 80%;
    }
    .blog-picture {
        height: 18vh;
    }
    .profile-pic {
        width: 140px;
    }
    .skills-copy-box {
        width: 80%;
    }
}


/* Small phones to small tablets: 481px to 767px*/

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    .hero-text-box {
        font-size: 63%;
    }
    .logo {
        /* width: 10%;
        min-width: 20%;
        height: 2%; */
        width: 80px;
        height: auto;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav {
        display: none;
    }
    .main-nav {
        float: left;
        margin: 35px 0 0 25px;
    }
    .main-nav li {
        display: block;
    }
    .main-nav a:link,
    .main-nav a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    .mobile-nav-icon {
        display: inline-block;
    }
    .sticky {
        height: auto;
    }
    .sticky .main-nav {
        margin-top: 10px;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    .sticky .mobile-nav-icon i {
        color: black;
    }
    .sticky .mobile-nav-icon {
        margin: 10px 0 0 0;
    }
    .long-copy {
        line-height: 130%;
        width: 100%;
        margin-left: 0%;
    }
    .skills-copy-box {
        width: 100%;
        margin: 0;
    }
    .skills-list-box {
        margin-left: 35%;
        margin-right: 0;
        width: 100%;
    }
    .blog-card1 {
        margin-left: 10%;
    }
    .blog-card2 {
        margin-right: 0;
        margin-left: 10%;
    }
    .blog-card1,
    .blog-card2 {
        height: 65vh;
        width: 80%;
    }
    .blog-picture {
        height: 18vh;
    }
    .blog-box:first-child {
        padding-right: 0%;
        margin: 0 0 0 0;
    }
    .blog-box:last-child {
        padding-left: 0%;
    }
    .blog-box:first-child h3 {
        margin-top: 5%;
        margin-right: 10%;
    }
    .blog-box:last-child h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }
    .map {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 0;
    }
    .form-box {
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}


/* Small phones: 0 to 480px*/

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
    .logo,
    .logo-black {
        width: 70px;
    }
    .mobile-nav-icon {
        margin-top: 3%;
    }
    .main-nav {
        margin: 20px;
        font-size: 83%;
    }
    h1 {
        font-size: 150%;
    }
    .contact-form {
        width: 100%;
    }
    footer .row .footer-nav {
        font-size: 95%;
    }
    .footer-nav li {
        margin-right: 8px;
    }
    .social-links {
        padding: 0 10% 0 0;
    }
    footer p {
        text-align: justify;
        padding: 0 0 0 0;
        font-size: 86%;
    }
}