/* Big tablets to 1200px (width smaller than the 1140px row)*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
    .contact-form {
        width: 90%;
    }
}


/* Small tablets to big tablets: 768px to 1023*/

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    h1 {
        font-size: 165%;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
}


/* Small phones to small tablets: 481px to 767px*/

@media only screen and (max-width: 767px) {}


/* Small phones: 0 to 480px*/

@media only screen and (max-width: 480px) {}