 /* light green color #C6FD34 */
 /* darker light green color #b7fc02 */
 /* light gray color #3C3C3E */
 /* ----------------------------------------------------------------------------------------- */
 /* -----------------------------------------Basic Setup------------------------------------- */
 /* ----------------------------------------------------------------------------------------- */
 
 * {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 /* .grid {
     display: grid;
     grid-template-columns: 1fr 500px 500px 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-auto-rows: minmax(100px, auto);
     grid-gap: 1em;
     justify-items: center;
     align-items: center;
 } */
 
 html,
 body {
     background-color: white;
     color: grey;
     font-family: 'Lato', 'Arial', sans-serif;
     font-size: 20px;
     font-weight: 300;
     text-rendering: optimizeLegibility;
     overflow-x: hidden;
 }
 
 .clearfix {
     zoom: 1
 }
 
 .clearfix::after {
     content: '.';
     clear: both;
     display: block;
     height: 0;
     visibility: hidden;
 }
 /* ------------------------------------------------------------------------------------------------- */
 /* -----------------------------------------Reusable Components------------------------------------- */
 /* ------------------------------------------------------------------------------------------------- */
 
 .row {
     max-width: 1140px;
     margin: 0 auto;
 }
 
 section {
     padding: 80px 0;
 }
 
 .box {
     padding: 1%;
 }
 
 .icon-small {
     display: inline-block;
     width: 30px;
     text-align: center;
     color: #C6FD34;
     font-size: 120%;
     /* Secret to align text to icon */
     line-height: 120%;
     vertical-align: middle;
     margin-top: -5px;
     margin-right: 10px;
 }
 /* ----------------------------------------------------------------------------------------- */
 /* -----------------------------------------headings------------------------------------- */
 /* ----------------------------------------------------------------------------------------- */
 
 h1,
 h2,
 h3 {
     font-weight: 300;
     text-transform: uppercase;
 }
 
 h1 {
     margin: 0 0 20px 0;
     color: white;
     font-size: 240%;
     word-spacing: 4px;
     letter-spacing: 1px;
 }
 
 h2 {
     font-size: 180%;
     word-spacing: 2px;
     text-align: center;
     margin: 0 0 30px 0;
     letter-spacing: 1px;
 }
 
 h2:after {
     display: block;
     height: 2px;
     background-color: #C6FD34;
     content: ' ';
     width: 100px;
     margin: 0 auto;
     margin-top: 30px;
 }
 
 h3 {
     font-size: 110%;
     margin-bottom: 15px;
 }
 /* ----------------------------------------------------------------------------------------- */
 /* -----------------------------------------paragraphs------------------------------------- */
 /* ----------------------------------------------------------------------------------------- */
 
 .long-copy {
     line-height: 145%;
     width: 70%;
     margin-left: 15%;
 }
 
 .box p {
     font-size: 90%;
     line-height: 145%;
 }
 /* ----------------------------------------------------------------------------------------- */
 /* -----------------------------------------icons------------------------------------- */
 /* ----------------------------------------------------------------------------------------- */
 
 .icon-big {
     font-size: 350%;
     color: #C6FD34;
     display: block;
     margin-bottom: 10px;
 }
 /* ----------------------------------------------------------------------------------------- */
 /* -----------------------------------------Header------------------------------------------ */
 /* ----------------------------------------------------------------------------------------- */
 
 .header-template-areas {
     grid-template-areas: ". hero-text-box profile-picture-box .";
 }
 
 header {
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.899)), to(rgba(0, 0, 0, 0.750))), url(img/hero.jpg);
     background-image: linear-gradient(rgba(0, 0, 0, 0.899), rgba(0, 0, 0, 0.750)), url(img/hero.png);
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 
 .profile-pic {
     border-radius: .6em;
     background-image: linear-gradient(rgba(0, 0, 0, 0.899), rgba(0, 0, 0, 0.750));
 }
 /* .profile-picture-box {
     grid-area: profile-picture-box;
     align-content: center;
 } */
 
 .hero-text-box {
     position: absolute;
     width: 1140px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     text-align: center;
     font-size: 80%;
 }
 
 .logo {
     height: 130px;
     width: auto;
     float: left;
     margin: 2px;
 }
 
 .logo-black {
     display: none;
     height: 50px;
     width: auto;
     float: left;
     margin: 5px 0;
 }
 /* --------------------------buttons -------------------------------------- */
 
 .btn:link,
 .btn:visited {
     display: inline-block;
     padding: 10px 25px;
     font-weight: 500;
     text-decoration: none;
     border-radius: 5px;
     transition: background-color 0.2s, border 0.2s, color 0.2s;
 }
 
 .btn-full:link,
 .btn-full:visited {
     background-color: #C6FD34;
     color: white;
 }
 
 .btn-ghost:link,
 .btn-ghost:visited {
     border: 1px solid #C6FD34;
     color: #C6FD34;
     margin: 0 0 0 15px;
 }
 
 .btn:hover,
 .btn:active {
     background-color: #b7fc02;
 }
 
 .btn-full:hover,
 .btn-full:active {
     border: 1px solid #b7fc02;
 }
 
 .btn-ghost:hover,
 .btn-ghost:active {
     border: 1px solid #b7fc02;
     color: white;
 }
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------main navigation---------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 
 .main-nav {
     float: right;
     list-style: none;
     margin: 55px;
 }
 
 .main-nav li {
     display: inline-block;
     margin-left: 40px;
 }
 
 .main-nav li a {
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
 }
 
 .main-nav li a:link,
 .main-nav li a:visited {
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     border-bottom: 2px solid transparent;
     -webkit-transition: border-bottom 0.5s;
     transition: border-bottom 0.5s;
     padding: 8px 0;
 }
 
 .main-nav li a:hover,
 .main-nav li a:active {
     border-bottom: 2px solid #C6FD34;
 }
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------sticky navigation-------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------mobile navi-------------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------about-------------------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------projects----------------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------blogs-------------------------------------------- */
 /* ------------------------------------------------------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */
 /* -----------------------------------------contact------------------------------------------ */
 /* ------------------------------------------------------------------------------------------ */